body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}


.header {
  width: 100%;
  height: 40px;
  position: fixed;
  border-collapse: collapse;
  background-color: #4267b2;
}

.header a {
  float: left;
  color: white;
  text-align: top;
  padding: 3px;
  padding-right: 18px;
  text-decoration: none;
  font-size: 15px; 
  border-radius: 5px
}

.header img {
  vertical-align:middle;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
  margin-right: 20%; 
}

.header-right a {
  margin-top: 3%; 
}

.logo{
  margin-left: 5%;  
  margin-top: 0.34%;
  vertical-align:middle;
}

.search {
  float: left;
  margin-top: 8px;
  max-width: 800px
}

form.search input[type=text] {
    padding: 2px;
    font-size: 15px;
    float: left;
    background: #f1f1f1;
}

form.search img {
  width: 19px;
  height: 20px;   
}

form.search button:hover {
  background-color: #ddd;
  color: black;
}

.page {
  width: 100%;
  height: 100%;
}

.left-page {
    width: 15%;
    height: 100%;
    float: left;
    margin-top: 40px;
    background-color: #e9ebee;
    border-collapse: collapse;
}

.left-fix{
	width: 15%;
    height: 100%;
	position: fixed;
}

.left-fix a {
  vertical-align:middle; 
  display:inline;
  text-decoration: none;
  float: right;
  color: black;
  margin-right: 5px;
  padding: 8px;
  font-size: 15px; 
  border-radius: 0px;
}

.left-page img {
  vertical-align:middle;
}

.left-page a:hover {
  background-color: #ddd;
  color: black;
}

.middle-page {
    width: 65%;
    height: 100%;
    float: left;
    margin-top: 40px;
    background-color: #e9ebee;
    border-collapse: collapse;
}

.middle {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    margin-top: 0;
    background-color: blue;
    border-collapse: collapse;
}

.middle h1{
	margin: 0;
}

.right-page {
  width: 20%;
  height: 100%;
  float: right;
  margin-top: 40px;
  background-color: #e9ebee;
  border-collapse: collapse;
}

.circle {
    border-radius: 50%;
}

